@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-extra-tiny: 0.325rem;
  --text-medium-tiny: 0.525rem;
  --text-tiny: 0.625rem;

  --color-background-light: #F2F3F4;
  --color-background-dark: #F2F3F4;

  --color-header-light: #0E1116;
  --color-header-dark: white;

  --color-primary: var(--dynamic-primary);
  --color-secondary: var(--dynamic-secondary);
  --color-terciary: var(--dynamic-terciary);

  --color-pix: #008531;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  @apply bg-background-light;

  @media (prefers-color-scheme: white) {
    color-scheme: white;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

.main-banner-carousel {
  --swiper-pagination-bottom: 16px;
}

.main-banner-carousel .swiper-pagination-bullet {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.main-banner-carousel .swiper-pagination-bullet-active {
  background-color: var(--dynamic-primary);
  opacity: 1;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#range-slider-custom .range-slider__range {
  background: theme(--color-primary);
  transition: height 0.3s;
}

#range-slider-custom .range-slider__thumb {
  background: theme(--color-terciary);
  transition: transform 0.3s;
  width: 10px;
  height: 10px;
}

#range-slider-custom .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-custom .range-slider__range[data-active] {
  height: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

  select,
  textarea,
  input {
    font-size: 16px;
  }
}