@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-extra-tiny: 0.325rem;
  --text-medium-tiny: 0.525rem;
  --text-tiny: 0.625rem;

  --color-background-light: #F2F3F4;
  --color-background-dark: #F2F3F4;

  --color-header-light: #0E1116;
  --color-header-dark: white;

  --color-primary: #FF6500;
  --color-secondary: #FF6500;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  @apply bg-background-light;

  @media (prefers-color-scheme: white) {
    color-scheme: white;
  }
}

.main-banner-carousel {
  --swiper-pagination-bottom: 16px;
}

.main-banner-carousel .swiper-pagination-bullet {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.main-banner-carousel .swiper-pagination-bullet-active {
  background-color: #FF6600;
  opacity: 1;
}